section {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding:60px;
   
}


html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    
}

.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: azure;
    padding: 15px 30px;
    color: black;
    box-shadow: 5px 2px 5px -2px gray;
    margin-bottom: 3rem;
}

.logo {
    font-style: oblique;
    font-size: 1.5rem;
    font-weight: bold;
    color:cornflowerblue;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a {
    color: black ;
    text-decoration: none;
    padding: 4px 2px;
    border-radius: 4px;
    transition: 0.4s;
}

.nav-links a:hover {
    background-color: rgb(33, 94, 94);
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 1400px;
    height: 1000px;
  
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    height: calc(33.33% - 20px);
    cursor: pointer;
    overflow: hidden;
    box-shadow: black 6px 3px 4px;
    border-radius: 6px;
}

.card:hover {
    background:palevioletred;
    scale: 1.1;
    transition: all 0.3s;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}